[Desktop Entry]
Name=RingCentral Embeddable Voice
Exec=ringcentral-embeddable-voice
Icon=icon.png
Type=Application
Categories=Nework;Telephony;
Terminal=false
